/* Extra Resetting */
/*-----------------------------------------*/

* { box-sizing: border-box; }


/* Fonts */
/*-----------------------------------------*/


@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans-bolditalic-webfont.eot');
    src: url('fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans-italic-webfont.eot');
    src: url('fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('fonts/opensans-italic-webfont.woff') format('woff'),
         url('fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
/* Mobile first CSS */

/*
  ========================================
  Global
  ========================================
*/


html {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
}

.wrapper {
   clear: both;
   margin: 0 auto;
   width: 95%;
   padding: 0 2.5%;
   max-width: 840px;
   text-align: center;
}

p {
    line-height: 1.25;
    margin-bottom: 1rem;
}
a {
  color: #feaa3a;
  text-decoration: none;
}

/*
  ========================================
  Header
  ========================================
*/

header {
   background: #969696 url('images/birds.jpg') no-repeat center center;
   margin: 0 auto; 
   padding: 20px 0px 0px 0px;
   display: block;
   text-align: center;
   }

img {
  margin: 0 auto; 
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100px;
}

.headshot {
  margin: 0 auto;
  width: 90px;
 }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  border-bottom: 1px solid #feaa3a;
  padding: 30px 0px 15px 0px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  color: white;
  letter-spacing: -0.07em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8em;  
  margin: 0 auto;
  padding: 20px 0px 10px 0px;
 }

/* title - Web developer - under the name in the header*/

.title {
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  color: white;
  font-weight: normal;
  padding-top:0;
  padding-bottom: 40px;
}

/* hello! paragraph */

.hello {
  background: rgba(0, 0, 0, .5);
  text-align: center;
  color: white;
  line-height: 1.25;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 20px;
}

/* hello! */

.orange-hello {
  text-transform: none;
  color: #feaa3a;
}

/* horizontal lines */

.line {
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
 }

.date {
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 0.9em;
  margin-top: 0rem;
}

.orange-company {
  color: #feaa3a;
  font-weight: bold;
}


.job-descrp {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
   }

.education {
  text-align: left;
}

/* Skills list area */
.skills{
color:white; 
text-align:center;
}

.clouds {
   /* change background position to fixed for parallax-y effect */
   background:
      url( data:image/svg+xml;base64,PCEtLSBTVkcgc3ludGF4IC0tPiANCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj4NCjxsaW5lYXJHcmFkaWVudCBpZD0iZzc2MyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPg0KPHN0b3Agc3RvcC1vcGFjaXR5PSIuNSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1vcGFjaXR5PSIuNSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgb2Zmc2V0PSIxIi8+DQo8L2xpbmVhckdyYWRpZW50Pg0KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNzYzKSIgLz4NCjwvc3ZnPg== ),
      #333 url('images/clouds.jpg') fixed no-repeat center center;
   background:
      -moz-linear-gradient( top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100% ),
      #333 url('images/clouds.jpg') fixed no-repeat center center;
   background:
      -webkit-linear-gradient( top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100% ),
      #333 url('images/clouds.jpg') fixed no-repeat center center;
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100% ),
      #333 url('images/clouds.jpg') fixed no-repeat center center;
   color: white;
  }

/* white line under skills */

.line-white {
  border-bottom: 1px solid white;
 }

li {
  display: inline-block;
  margin: 40px 10px 40px 10px;
  border: 2px solid #feaa3a;
  width: 100px;
  height:100px;
  border-radius: 50px;
  font-family: 'Open Sans';
  text-align: center;
  color: white;
  line-height: 100px;
}

/*
  ========================================
  Footer
  ========================================
*/

.footer {
  background: black;
  text-transform: uppercase;
  color: white;
}

.icons {
  color: #feaa3a;
  font-size: 35px;
  letter-spacing: 0.05em;
}

/* black backround */

.black {
    background: black;
  }

h5 {
  text-transform: uppercase;
  font-size: 9px;
  padding: 20px 0px 20px 0px;

}

/* Breakpoints */

@media all and (min-width: 600px) {

.headshot {
  float: left;
  width: 25%;
  margin: 15px 30px 0px 10px;
 }

.hello-float {
  text-align: left;
}

h2 {
  text-align: left;
   }

header h2 {
  text-transform: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

.hello {
  background: rgba(0, 0, 0, .5);
  text-align: left;
  color: white;
  line-height: 1.25;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.orange-hello {
  text-transform: none;
  text-transform: none;
  color: #feaa3a;
  text-align: left;
}

.company {
  float: left;
  width: 24%;
  margin: 0 25px 0 0;
  text-align: left;
 }

.job-title {
  margin: 0 30px 0 0;
 }

.job-descrp {
  float: right;
  width: 72%;
 }

 .education {
  text-align: left;
}

.line-white {
  text-align: center;
 }

.contact {
  float: left;
  text-align: left;
 }

.icons {
  color: #feaa3a;
  font-size: 35px;
  letter-spacing: 0.05em;
  float: right;
}

h5 {
    margin: 0 auto;
    clear: both;
}

.copyright{
  text-align: left;
}
}